.green {
  background-color: #16BC9B;
  width:100%;
  color:white;
}
.white {
    background-color: white;
    width:100%;
    color:blue;
}
.blue {
  background-color: #2C3E50;
  width:100%;
  color:white;
}
.mt-50 {
margin-top: 50px;
}
.mb-50 {
  margin-bottom: 50px;
}
img {
  width:100%;
  height:auto;
}
nav h4 {
  padding:30px;
  margin-top: 0;
}
nav h1 {
  padding:20px;
  margin-top: 0;
}
nav ul {
  float:right;
}
nav ul li{
  display:inline-block;
  margin:20px;
}
.mt-20 {
  margin-top: 20px;
}
.start h1 {
  font-size: 80px;
}
.start p {
  font-size: 25px;
}
.about h1 {
  font-size: 50px;
}
.created {
  font-size: 20px;
}
